.App {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: black;
  background: #282c34;
}
.squares {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list {
  display: flex;
  list-style-type: none;
}

.cell {
  width: 250px;
  border-style: solid;
  border-color: white;
  border-width: 5px;
  border-radius: 40px;
  height: 200px;
  margin: 0;
  padding: 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  font-weight: bold;
  position: relative;
}

.input {
  font-size: large;
  text-align: center;
  color: white;
  font-weight: bold;
  border: none;
  background-color: #282c34;
}
.cellsString {
  color: white;
  margin-left: 50px;
}

.add {
  height: 210px;
  width: 32px;
  position: absolute;
  right: -22px;
  z-index: 10;
}
